canvas {
  height: 100vh;
}

@font-face {
  font-family: 'GT WALSHEIN';
  src: url('./fonts/GTWalsheim-Regular.woff2') format('woff2'),
       url('./fonts/GTWalsheim-Regular.woff') format('woff');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'GT WALSHEIN';
  src: url('./fonts/GTWalsheim-Bold.woff2') format('woff2'),
       url('./fonts/GTWalsheim-Bold.woff') format('woff');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

.image-container {
  position: relative; /* Nécessaire pour le positionnement absolu de l'élément enfant */
  display: inline-block; /* Pour que le fond s'ajuste à l'image */
  padding: 10px; /* Optionnel : pour ajouter un peu d'espace autour de l'image */
}

.image-container::after {
  content: ""; /* Nécessaire pour créer un pseudo-élément */
  position: absolute; /* Positionnement absolu par rapport au conteneur */
  top: 100%; /* Commence juste après le conteneur */
  left: 0;
  right: 0;
  height: 150vh; /* Ajustez la hauteur selon vos besoins */
  background: linear-gradient(to bottom, #51082A, black); /* Dégradé du haut vers le bas */
  z-index: -1; /* Assurez-vous que le dégradé est derrière l'image */
}

.imageBackground {
  background-image: "/molten3.jpg";
}